<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="C:\Logs\nlog-internal.log" >

	<targets async="true">
		<target name="logconsole" xsi:type="Console" 
				layout="${longdate} ${uppercase:${level:padding=-6:fixedLength=true}} ${logger:padding=-14} ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<!--Fatal, Error, Warn, Info, Debug, Trace-->
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
	</rules>
</nlog>
